* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e9ecef;
    position: relative;
    overflow-x: hidden;
}

.floating-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.shape {
    position: absolute;
    background-color: #003d73;
    opacity: 0.1;
    animation: float 15s infinite linear;
}

.shape-1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 20%;
    left: 10%;
    animation-duration: 20s;
    animation-delay: 0s;
}

.shape-2 {
    width: 60px;
    height: 60px;
    border-radius: 20px;
    top: 60%;
    left: 80%;
    animation-duration: 25s;
    animation-delay: 5s;
}

.shape-3 {
    width: 100px;
    height: 40px;
    border-radius: 50px;
    top: 40%;
    left: 60%;
    animation-duration: 18s;
    animation-delay: 10s;
}

.shape-4 {
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    top: 80%;
    left: 20%;
    animation-duration: 22s;
    animation-delay: 15s;
}

.shape-5 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: 10%;
    left: 90%;
    animation-duration: 30s;
    animation-delay: 3s;
}

.shape-6 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 70%;
    left: 5%;
    animation-duration: 16s;
    animation-delay: 8s;
}

@keyframes float {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    33% {
        transform: translateY(-50px) rotate(120deg);
    }
    66% {
        transform: translateY(20px) rotate(240deg);
    }
    100% {
        transform: translateY(0px) rotate(360deg);
    }
}